<!-- <h1><%#= @booking.sauna.title %></h1>
<br>
<h2><%#= @booking.sauna.address %></h2>
<p>Price $<%#= @booking.sauna.price %></p>
<br> -->
<%= simple_form_for [@sauna,@booking] do |f| %>
  <%= f.input :start_date, as: :string, required: false, input_html: {id: "range_start" } %>
  <%= f.input :end_date, as: :string, required: false, input_html: {id: "range_end" } %>
  <%= f.button :submit, "Book", class: "btn-blue" %>
<% end %>
<!-- <br>
    <p>from: <%#= @booking.start_date %></p>
    <p>to: <%#= @booking.end_date %></p>
    <p>number of days: <%#= @booking.end_date #- @booking.start_date %></p>
    <p>Total price $<%#= @booking.sauna.price #* (@booking.end_date - @booking.start_date) %></p> -->

