<body>
  <div class="main"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('background.jpg') %>);">

      <div class="form">
        <h2>Book unique Saunas</h2>
          <div class="inner-form">
          <form action="#" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <label for="city">Where</label>
            <br>
            <input type="text" name="#" id="city" value="Anywhere">

            <br>

            <label for="check-in">Check-in </label>
            <br>
            <input type="text" name="#" id="check-in" value="Thu, Aug 22">

            <br>

            <label for="check-out">Check-out </label>
            <br>
            <input type="text" name="#" id="check-out" value="Thu, Aug 30">

            <br>

            <label for="guests">Guests </label>
            <br>
            <input type="text" name="#" id="guests" value="Guests">

            <br>
            <br>

            <input class="button" type="submit">
          </div>
        </form>
      </div>


  </div>
</body>
