.btn-back {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
  margin-left: 1200px;
}

.btn-back:hover {
background-color: #AEDADD;
color: white;
}

.btn-signup {
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
}

.btn-signup:hover {
  background-color: #AEDADD;
  color: white;
}

.btn-primary {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
  margin-left: 0px;
}

.btn-primary:hover {
  background-color: #AEDADD;
  color: white;

.btn-log {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
}

.btn-log:hover {
  background-color: #AEDADD;
  color: white;
}

.btn-backbook{
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
  margin-left: 0px;
}

.btn-backbook:hover {
  background-color: #AEDADD;
  color: white;


}
}
.btn-submit {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
  margin-left: 0px;
}

.btn-submit:hover {
  background-color: #AEDADD;
  color: white;
}

.upload-photo {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FCF8F3;
  margin-left: 0px;
}

.upload-photo:hover{
  background-color: #AEDADD;
  color: white;
}

.hidden {
  display: none;
}

.btn-resetpwd:hover {
    text-decoration: underline;
}

