.main-container {
  display: flex;
  background-color: white;
}

.main-container-home {
  background-color: white;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-gap: 3px;
  grid-template-columns:  1fr 1fr 1fr;
}

.cards img {
  width: 100%;
}

.cards-home {
  display: grid;
  grid-gap: 3px;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns:  1fr 1fr 1fr 1fr;
  }
  #map {
    display: none;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns:  1fr 1fr 1fr;
  }
    #map {
    display: none;
  }
}

.property.card {
  border:0;
  border-radius:0;
  box-shadow:0px 9px 15px 0px rgba(0,0,0,0.2);
  text-align:left;width:300px;
  margin:15px 15px 25px 15px;
  display:inline-block;
  overflow:hidden;
  cursor:pointer
  }

.booking.card {
  border:0;
  border-radius:0;
  box-shadow:0px 9px 15px 0px rgba(0,0,0,0.2);
  text-align:left;width:300px;
  margin:15px 15px 25px 15px;
  display:inline-block;
  overflow:hidden;
  cursor:pointer
  }
.request.card.long-card,.property.card.long-card{
width:300px
}
.request.card a,.property.card a {
color:inherit
}
.request.card a:hover,.request.card a:active,.request.card a:focus,.property.card a:hover,.property.card a:active,.property.card a:focus {
text-decoration:none
}
.request.card img,.property.card img{
height:250px;
display:block
}
.request.card .card-img-top,.property.card .card-img-top{
overflow:hidden;
position:relative;
width:300px;
height:220px
}
.request.card .card-block,.property.card .card-block{
  position:relative;
  height:120px;
  font-family:'Roboto';
  color:#333;
  padding:18px 28px;
  font-size: 14px
}

.card-block-container{
  width:100%;
  overflow:hidden
}

.card-title{
    font-size: 16px;
    width: 137px;
    font-family: roboto;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-top: 10px;
    white-space: nowrap;
}

@media (max-width: 767px)

{.card-title{
  font-size:18px}
  }

.card-heart{
  font-size:16px;
  position:absolute;
  right:20px;
  top:25px
  }
.card-heart i{
height:16px;
width:20px;
text-align:center
}

.card-location {
text-transform: uppercase;
color: #aaa;
font-size: 10px;
letter-spacing: 1.5px;
clear: both;
}

p {
      margin-top: 10px;
      margin-bottom: 1rem;
  }

.card-icon {
    position: absolute;
    bottom: 11px;
    left: 0;
    margin-top: 20px;
    padding: 20px 30px;
    color: #757575;
    font-size: 14px;
    width: 100%;
    height: 54px;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cost {
    margin-top: -26px;
    float: right;
    text-align: left;
    max-width: 20%;
    color: #333;
}

.from {
    color: grey;
    font-size: 8px;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    margin-right: 10px;
    padding-bottom: 2px;
    text-align: right;
}

.request.card .card-block .card-icon .icon-cost, .property.card .card-block .card-icon .icon-cost, .request.card .card-block .card-icon .price-on-request, .property.card .card-block .card-icon .price-on-request {
    float: right;
    text-align: right;
    max-width: 35%;
    color: #333;
}

.card-location {

}

