body{
  background-color: white;
}
.container {
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  margin-top: 20px;
}

.grid-item-card {
  background-color: white;
  border-radius: 8px;
  text-align: left;
  margin: 0 10px;
}

.grid-container img{
  height: 205px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.card-caption {
  margin-top: 10px;
  display: block;
}

h2 {
  color: black;
  margin-top: 70px;
}

a {
  color: black;
}

p {
  font-weight: lighter;
}

.icons {
  display: flex;
  p {
    margin-right: 5px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

