body{
  background-color: white;
}
.container {
  margin: 0 auto;
  width: 1200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
}

.grid-item-card {
  background-color: white;
  border-radius: 8px;
  width: 275px;
  text-align: center;
}

.grid-container img{
  height: 205px;
  width: 100%;
  border-radius: 8px;
}

.card-caption {
  display: block;
}

h2 {
  color: black;
  margin-top: 70px;
}

a {
  color: black;
}

p {
  font-weight: lighter;
}
