.footer {
  display: flex;
  background: #444444;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  flex-shrink: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: white
}
.footer-links a:hover {
  opacity: 1;
  color: #ad1d45
}
.footer .fa-heart {
  color: #D23333;
}

