  .show-details h5 {
    margin-bottom: 0px;
  }

  .show-details p {
    margin-left: 28px;
  }

  .show-banner {
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  padding: 150px 0;
  height: 60vh;
}

.show-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  display: flex;
}

.show-box-1 {
  border-bottom: 1px black;
  flex-grow: 1;
}

.show-box-2 {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 10px 10px 10px, #AEDADD;
  width: 33%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: red;
  transition: background 0.3s ease;
}
