<div class="card-list">
  <div class="card-item">
    <% @saunas.each do |s| %>
    <h1><%= s.description %></h1>
    <h3><%= s.address %></h3>
    <p><%= s.capacity %></p>
    <p><%= s.price %></p>
    <% end %>
  </div>
</div>

