<div class="grid-container">
  <div class="grid-item-card">
    <% @saunas.each do |s| %>
    <h1><%= s.description %></h1>
    <h3><%= s.address %></h3>
    <p><%= s.capacity %></p>
    <p><%= s.price %></p>
    <% end %>
  </div>
</div>

