<aside id="sidebar-new">
  <section class="sidebar-content">
    <hgroup class="sidebar-title">
      <h3 class="sidebar-title-summary text-left" id="js-property-name">Gignas II</h3>
      <h4 class="sidebar-title-location text-left">Barcelona</h4>
      <div class="detail-icon">
        <span class="icon">
          50
          <span class="fa-exp">m</span>
          <sup>2</sup>
        </span>
        <span class="icon">
          <i aria-hidden="true" class="fa fa-bed"></i>
          1
        </span>
        <span class="icon">
          <i aria-hidden="true" class="fa fa-bath"></i>
          1
        </span>
        <span class="icon">
          <i aria-hidden="true" class="fa fa-user"></i>
          <span class="occupants js-occupants" data-occupants="2">
            2
          </span>
        </span>
      </div>
    </hgroup>
    <div class="sidebar-options js-dates">
      <div class="sidebar-price" data-default-min-cost="€2,295 " data-stay-month="per month" data-stay-night="per night">
        <h3 class="sidebar-cost text-center">
          <span class="js-sidebar-cost-from">From</span>
          <span class="js-rent">€2,295 </span>
          <span class="js-stay-unit-text sidebar-cost-duration">per month</span>
        </h3>
      </div>

