<div class="background-image-show">
  <img class="show-banner" src="https://images.unsplash.com/photo-1551906993-c8b38a6ab201?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80" alt="">



</div>

<h2><%= @sauna.description %></h2>
<h5><%= @sauna.address %></h5>
<p><%= @sauna.price %></p>
<p><%= @sauna.capacity %></p>

