<h1>Saunas#show</h1>
<p>Find me in app/views/saunas/show.html.erb</p>

 <%= @sauna.description %>
</p>

<%= link_to 'Edit', edit_sauna_path(@sauna) %> |
<%= link_to 'Delete', sauna_path(@flat) %> |
<%= link_to 'Back', flats_path %>
